name: Release

on:
  push:
    tags: '[0-9]+.[0-9]+.[0-9]+'
  workflow_run:
    workflows: ["Build and Test"]
    types:
      - completed

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Generate Release Note
        run: |
          wget ${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/releases\?per_page\=1 -O releases.json
          cat releases.json | jq
          LATEST_TAG=`cat releases.json | jq -r '.[0].tag_name'`
          NEXT_TAG=`echo ${GITHUB_REF} | grep -E -o '[0-9]+\.[0-9]+\.[0-9]+'`
          echo "## Commits from ${NEXT_TAG} to ${LATEST_TAG}" | tee release_note.md
          git log --pretty="%h - %s" ${LATEST_TAG}..${NEXT_TAG} | tee -a release_note.md
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Setup
        run: |
          ./setup.sh
      - name: Build
        run: |
          xcodebuild clean build \
            -scheme mpvx \
            -configuration Release \
            -derivedDataPath build \
            -destination 'generic/platform=macOS'
      - name: Zip the build
        run: |
          cd build/Build/Products/Release/
          zip -r mpvx.app.zip mpvx.app
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./build/Build/Products/Release/mpvx.app.zip
          body_path: release_note.md
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
