name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - name: Install xcresultparser
      run: |
        brew install xcresultparser
    - name: Setup
      run: |
        ./setup.sh
    - name: Run Tests
      run: |
        xcodebuild clean test \
          -scheme mpvx \
          -configuration Debug \
          -derivedDataPath build \
          -destination 'platform=macOS' \
          -resultBundlePath artifacts/ResultBundle.xcresult || true
    - name: Convert with xcresultparser
      run: |
        xcresultparser \
          --output-format cobertura \
          "artifacts/ResultBundle.xcresult" >"artifacts/coverage.xml"
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: artifacts/coverage.xml
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
        fail_ci_if_error: true
