name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - name: Install Dependencies
      run: |
        brew install --formula mpv
        which mpv
        brew info mpv --formula
        brew install --formula xcresultparser
    - name: Setup
      run: |
        ./setup.sh
    - name: Run Tests
      run: |
        xcodebuild clean test \
          -scheme mpvx \
          -configuration Debug \
          -derivedDataPath build \
          -destination 'platform=macOS,arch=${{ matrix.arch }}' \
          -resultBundlePath artifacts/ResultBundle-${{ matrix.arch }}.xcresult || true
    - name: Upload Result Bundle
      uses: actions/upload-artifact@v4
      with:
        name: ResultBundle-${{ matrix.arch }}.xcresult
        path: artifacts/ResultBundle-${{ matrix.arch }}.xcresult
    - name: Convert with xcresultparser
      run: |
        xcresultparser \
          --output-format cobertura \
          "artifacts/ResultBundle-${{ matrix.arch }}.xcresult" >"artifacts/coverage-${{ matrix.arch }}.xml"
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: artifacts/coverage-${{ matrix.arch }}.xml
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests-${{ matrix.arch }}
        fail_ci_if_error: true
